@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4">
        <img src="~/assets/images/Recipe book-bro.png" width="60" height="60" class="d-block mx-auto" />
        <h5 class="text-center">@ViewData["Title"]</h5>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="FirstName" aria-required="true" placeholder="First Name..." />
                <label asp-for="Input.FirstName">FirstName</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true" placeholder="Last Name..." />
                <label asp-for="Input.LastName">LastName</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.IsDisabled" class="form-select select2" aria-label="Default select example">
                    <option [value]="" selected>-- Is Disabled? --</option>
                    <option [value]="true">True</option>
                    <option [value]="false">False</option>
                </select>
                <label asp-for="Input.IsDisabled">Is Disabled</label>
                <span asp-validation-for="Input.IsDisabled" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true" placeholder="Email..." />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-8 col-md-offset-2 d-flex justify-content-center align-items-center">
        <section>
            <img src="~/assets/images/Sign up-amico.png" height="300px" />
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
