
<aside class="col-12 bg-light p-3 border-end">
    <nav>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard"><i class="bi bi-house"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Authors"><i class="bi bi-people"></i> Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Categories"><i class="bi bi-tags"></i> Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Users"><i class="bi bi-person"></i> Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Books"><i class="bi bi-book"></i> Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Subscribes"><i class="bi bi-envelope"></i> Subscribes</a>
            </li>
        </ul>
    </nav>
</aside>
