@model CategoryViewModel

@{
	ViewData["Title"] = "Details";
}

<div class="row p-4">
	<div class="col-md-6 col-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"> @Model.Name</h5>
				<p class="card-text text-muted">
					By following these steps, you should have a setup where Visual Studio provides complete tag suggestions as you type in your ASP.NET Core MVC view pages. Make sure to explore the various tag helpers available to enhance your development experience.
				</p>
				<div class="row d-flex justify-content-between">
					<div class="col-6">
						<a asp-action="" asp-controller="" class="btn btn-success">Read</a>
						</div>
					<div class="col-6 text-end">
						<a asp-action="Index" asp-controller="Categories" class="btn btn-warning">Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section scripts {
	<script>
		SweetAlertMessage('@TempData["successmessage"]');
	</script>
}